body {
  margin: 0;
  padding: 100px;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 0, 157, 0.7)
    ),
    url('https://webneel.com/daily/sites/default/files/images/daily/08-2018/1-nature-photography-spring-season-mumtazshamsee.jpg');
  background-repeat: no-repeat;
  background-position: center;

  background-attachment: fixed;
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}


h2 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.resumeSection h2 {
  color: red;
}
p {
  text-align: justify;
}
video,
iframe {
  width: 400px;
  height: 200px;
}
table {
  width: 500px;
}
thead {
  background-color: beige;
}
td {
  text-align: center;
}
input {
  padding: 5px 10px;
  color: rgb(0, 0, 0);
}
input::placeholder {
  color: rgb(243, 1, 182);
}
button {
  border: rgb(243, 1, 182) solid 1px;
  background-color: rgb(243, 1, 182);
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}
button:hover {
  box-shadow: none;
  border: rgb(243, 1, 182) solid 1px;
  background-color: white;
  color: rgb(243, 1, 182);
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 1000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input, select {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #2980b9;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #b10a36;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
nav
{
  width: 100%;
   padding: auto;
   position:absolute;
   top: 0;
   left: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar {
	position:-webkit-sticky;
	position: sticky;
	top: 0;
}
blockquote {
  border-left: 5px solid;
  margin-left: 0;
  padding: 1rem 0 1rem 2rem;
  font-size: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color:rgba(1, 2, 2, 0.622);
  background-image: linear-gradient(
    35deg,
    var(--color-primary),
    var(--color-secondary)
  );

  p {
    margin: 0;
  }
}